.search-box{
    input[type="text"]{
        max-width: 400px;
        margin-right:10px;
        width: calc(100% - 100px);
    }
    button{
        padding-left:20px;
        padding-right:20px;
    }
}
